<!DOCTYPE html>
<html>
<head>
    <title>Word to PDF Converter</title>
</head>
<body>
    <h1>Upload .docx file to convert to PDF which you wants to convert to PDF</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form action="/convert" enctype="multipart/form-data" method="post">
        <input type="file" name="file" accept=".docx" required>
        <button type="submit">Convert</button>
    </form>

    {% if download_link %}
        <p>✅ Conversion successful! <a href="{{ download_link }}">Download PDF</a></p>
    {% endif %}
</body>
</html>
